In [1]:
import pandas as pd
import csv

In [2]:
from datetime import datetime as dt

In [12]:
file_open = open(r'C:\Users\Rohan\Desktop\Kaggle\M5_Walmart\sales_train_validation_10_items.csv')

In [41]:
file_open = open(file_path + list_of_files[7])

In [23]:
file_read = pd.read_csv(file_path + list_of_files[7])

In [25]:
del file_read

In [8]:
file_contents = csv.reader(file_open)

In [9]:
file_write = open(r'C:\Users\Rohan\Desktop\Kaggle\M5_Walmart\sales_train_validation_normalized_test1.csv','a',newline='')

In [14]:
file_open = open(r'C:\Users\Rohan\Desktop\Kaggle\M5_Walmart\sales_train_validation_10_items.csv')
file_contents = csv.reader(file_open)
file_write = open(r'C:\Users\Rohan\Desktop\Kaggle\M5_Walmart\sales_train_validation_normalized_test1.csv','a',newline='')
print(F"start time is {dt.now()}")
dim_fields = 6
transaction_id = 1
for i,row in enumerate(file_contents):
    start = 6
    if i == 0:
        top_row = row
        normalize = row[:dim_fields]
        normalize.extend(['date','unit_sold','trasaction_id'])
        row1 = normalize
        print(row1)
        row1_final = [row1[0]]
        row1_final.extend(row1[-4:-1])
        row_write = csv.writer(file_write)
        row_write.writerow(row1_final)
        nu_of_fields = len(top_row) - dim_fields
    else:
        start = dim_fields
        for j in range(1,nu_of_fields+1):
            normalize_data = row[:dim_fields]
            #print(j,nu_of_fields,start)
            date = top_row[start]
            #print(date)
            next_trans = row[start]
            normalize_data.extend([date,next_trans,transaction_id])
            #print(normalize_data)
            transaction_id = transaction_id + 1
            start = start + 1
            row2 = normalize_data
            #print(row2)
            row2_final = [row2[0]]
            row2_final.extend(row2[-4:-1])
            row_write.writerow(row2_final)
file_write.close()
print(F"end time is {dt.now()}")

start time is 2020-06-23 07:19:23.329344
['id', 'item_id', 'dept_id', 'cat_id', 'store_id', 'state_id', 'date', 'unit_sold', 'trasaction_id']
end time is 2020-06-23 07:19:23.485035

In [ ]:
file_write.close()

In [ ]:
wal_item_trans = pd.read_csv(r'C:\Users\Rohan\Desktop\Kaggle\M5_Walmart\sales_train_validation_10_items.csv')

In [ ]:
type(wal_item_trans)

In [ ]:
wal_item_trans.describe()

In [ ]:
wal_item_trans.columns

In [ ]:
wal_item_trans.head

In [ ]:
for i,row in enumerate(file_contents):
	if i == 0:
		top_row = row
		print(top_row)
		print(row[:6])
		nu_of_fields = len(top_row) - 6
		print(nu_of_fields)

In [ ]:
print normalize

In [ ]:
len(range(1,1914))

In [ ]:
start = 6
for j in range(1,11):
    print j
    print(top_row[start])
    start += 1
    print(start)

In [ ]:
range(1,10)

In [10]:
import os

In [34]:
list_of_files = os.listdir('C:\Users\Rohan\Desktop\Kaggle\M5_Walmart\\')

In [31]:
list_of_files[7]

'f_sales_trans_sk_mapped_test.csv'

In [45]:
list_of_files[15]

'sales_train_validation_normalized.csv'

In [21]:
file_path = 'C:\Users\Rohan\Desktop\Kaggle\M5_Walmart\\'

In [30]:
os.listdir(file_path)

['calendar.csv',
 'dim_item.csv',
 'dim_item_idx_lkp.csv',
 'dim_item_max_sk.csv',
 'dim_store.csv',
 'dim_store_idx_lkp.csv',
 'dim_store_max_sk.csv',
 'f_sales_trans_sk_mapped_test.csv',
 'm5-forecasting-accuracy.zip',
 'practice_sqls.sql',
 'sales_train_validation.csv',
 'sales_train_validation_10_items.csv',
 'sales_train_validation_10_items2.csv',
 'sales_train_validation_10_items_norm.csv',
 'sales_train_validation_mod1.csv',
 'sales_train_validation_normalized.csv',
 'sample_submission.csv',
 'sell_prices.csv',
 'walmart_heirarchy.csv',
 'walmart_star_schema.xlsx',
 '~$walmart_star_schema.xlsx']

In [58]:
read_huge_file_pd = pd.read_csv(file_path + list_of_files[15])

In [59]:
read_huge_file_pd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58327370 entries, 0 to 58327369
Data columns (total 6 columns):
id               object
item_sk          int64
store_sk         int64
date             object
unit_sold        int64
trasaction_id    int64
dtypes: int64(4), object(2)
memory usage: 2.6+ GB

In [48]:
read_huge_file_pd.head(5)

,id,item_sk,store_sk,date,unit_sold,trasaction_id
0,HOBBIES_1_001_CA_1_validation,1,1,d_1,0,1
1,HOBBIES_1_001_CA_1_validation,1,1,d_2,0,2
2,HOBBIES_1_001_CA_1_validation,1,1,d_3,0,3
3,HOBBIES_1_001_CA_1_validation,1,1,d_4,0,4
4,HOBBIES_1_001_CA_1_validation,1,1,d_5,0,5

In [49]:
read_huge_file_pd.trasaction_id.max()

58327370

In [50]:
read_huge_file_pd.unit_sold.max()

763

In [53]:
len(read_huge_file_pd.id.unique())

30490

In [54]:
read_huge_file_pd.drop(columns=['id'],inplace=True)

In [55]:
read_huge_file_pd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58327370 entries, 0 to 58327369
Data columns (total 5 columns):
item_sk          int64
store_sk         int64
date             object
unit_sold        int64
trasaction_id    int64
dtypes: int64(4), object(1)
memory usage: 2.2+ GB

In [60]:
read_huge_file_pd[read_huge_file_pd.unit_sold == 763]

,id,item_sk,store_sk,date,unit_sold,trasaction_id
16093115,FOODS_3_090_CA_3_validation,2315,3,d_960,763,16093116

In [61]:
read_huge_file_pd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58327370 entries, 0 to 58327369
Data columns (total 6 columns):
id               object
item_sk          int64
store_sk         int64
date             object
unit_sold        int64
trasaction_id    int64
dtypes: int64(4), object(2)
memory usage: 2.6+ GB

In [62]:
del read_huge_file_pd